* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $main_font;
    color: $main_font_color;
}

h1 {
    font-size: 46px;
}

h2 {
    font-size: 32px;
    letter-spacing: 0.5px;
}

p {
    font-size: 16px;
    line-height: 1.3;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

a {
    color: inherit;
}

.btn {
    padding: 5px 20px;
    border: 1px solid $main_color;
}
