header {
    background: $main_color;
    color: #fff;
    z-index: 100;
    min-height: 50px;
    display: flex;
    .header-container {
        display: flex;
        align-items: center;
        .left-half {
            flex: 1;
        }
        .right-half {
            flex: 2;
        }
        h1 {
            font-size: 24px;
        }
        a {
            color: $button_font_color;
            text-decoration: none;
            @include transition;
            &:hover {
                color: $link_hover_color;
            }
        }
        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: flex-end;
            li {
                &:not(:last-of-type) {
                    margin-right: 5%;
                }
            }
        }
    }
}
