html, body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.page-content {
  flex: 1;  
}

.rando-resto-desc {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.25px;
}

.page-title {
  margin: 16px 0;
}

.resto-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px 5%;
    margin: 30px auto;
    @media (max-width: 450px) {
      grid-gap: 25px 5%;
    }
}

.tile-container {
    height: 200px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.25);
    @include transition;
    h2 {
      font-size: 18px;
    }
    &:hover {
      transform: scale(1.05);
    }
    @media (max-width: 450px) {
      width: 135%;
      left: 50%;
      transform: translateX(-50%);
    }
}

.tile-name-container {
  background: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  .resto-name {
    text-align: center;
    padding: 12px;
  }
}