.App {
  max-width: 1440px;
  width: 80%;
  margin: 5% auto;
}

.resto-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px 5%;
    margin: 5% auto;
}

.tile-container {
    height: 200px;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 3px 15px rgba(0,0,0,0.25);
}

.tile-name-container {
  background: #fff;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  .resto-name {
    text-align: center;
    padding: 12px;
  }
}
