.restaurant-header {
    background-size: cover;
    background-position: center;
    width: 140%;
    margin-left: -20%;
    margin-right: -20%;
    margin-top: calc(-3% - 24px);
    height: calc(300px + 1vw);
    max-height: 500px;
    z-index: -1;
    position: relative;
    &::after {
        content: "";
        display: block;
        width: 150%;
        height: 200px;
        background: white;
        position: absolute;
        top: 75%;
        transform: rotate(-3deg);
        @media (max-width: 800px) {
            transform: rotate(-5deg);
            height: 120px;
        }
        @media (max-width: 400px) {
            left: -5px;
            height: 85px;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.8;
        background-image: linear-gradient(
            to bottom,
            rgba(255, 0, 0, 0),
            rgba(0, 0, 0, 1)
        );
    }
}

.restaurant-details {
    width: 85%;
    margin: 0 auto;
    margin-top: 180px;
    display: flex;
    flex-wrap: wrap;
    .restaurant-details-section {
        flex-basis: calc(50% - 40px);
        min-width: 300px;
        margin: 20px;
        @media (max-width: 755px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @media (max-width: 1200px) {
        width: 100%;
    }
}

.restaurant-header-details {
    margin-top: -200px;
}

.restaurant-name {
    color: #fff;
}

.restaurant-divider {
    border: none;
    border-bottom: 1px solid rgba(225, 225, 225, 1);
}
