.restaurant-details {
    width: 95%;
    margin: 0 auto;
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    .restaurant-details-section {
        flex-basis: calc(50% - 40px);
        min-width: 300px;
        margin: 20px auto;
        @media (max-width: 755px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    .restaurant-details-visits {
        display: flex;
        align-items: start;
        h2 {
            margin-right: 30px;
        }
        #restaurant-visits-count {
            line-height: 10px;
        }
        .visits-btn {
            margin-top: 5px;
            margin-bottom: 5px;
            margin-left: 40px;
        }
    }
    @media (max-width: 1200px) {
        width: 100%;
    }
}
