.restaurant-details {
    width: 85%;
    margin: 0 auto;
    margin-top: 160px;
    display: flex;
    flex-wrap: wrap;
    .restaurant-details-section {
        flex-basis: calc(50% - 40px);
        min-width: 300px;
        margin: 20px;
        @media (max-width: 755px) {
            margin-left: 0;
            margin-right: 0;
        }
    }
    @media (max-width: 1200px) {
        width: 100%;
    }
}
