.stats-list {
    padding: 0;
    list-style: none;
    .resto-rank-tile {
      display: block;
      padding: 10px 30px;
      background: #fff;
      box-shadow: 0 1px 30px rgba(0,0,0,0.25);
      text-decoration: none;
      border-radius: 3px;
      @include transition;
      li {
        display: flex;
        p {
          margin: 0;
          font-weight: bold;
          color: $main_font_color;
        }
        .resto-rank-tile-rank {
          margin-right: 20px;
        }
        .resto-rank-tile-name {
        }
        .resto-rank-tile-visits {
          margin-left: auto;
        }
      }
      &:hover {
        transform: scale(1.005);
      }
    }
  }