//Fonts
$main_font: 'Helvetica Neue', Helvetica, Arial, sans-serif; 

// Colours
$main_color: #333740;
// $main_color: #363A46;
$search_bar: #F5F6FA;
$button_font_color: #FFF;
$link_hover_color: #aaa;
$footer_background: #eee;
$main_font_color: #333;